body {
    background-color: rgb(253, 235, 238);
    margin: 0;
    padding: 0;
    color: #0c0505;
    font-size: 14px;
    font-family: "Circular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

    

table, tr,th, td, caption{
    border: 2px solid rgb(10, 9, 10);
    color: #311927;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding-left: 0.5px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    align-content: center;
    align-self: center;
}
footer {
    background-color: #505153;
    height: 45px;
    border-bottom: 1px solid #471d1d;
}