.header {
    background-color: rgb(8, 98, 121);
    height: 100px;
    width: 100%;
    display: block;
    vertical-align: top;
    align-items: right;
    text-align: center;
    display: block;
    margin-right: 1850px;
}

.cds{
    width: auto;
    font-size: 60px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    display: block;
    vertical-align: top;
    margin-left: -0px;

}
.leg{
    font-weight: bold;
    font-family:  arial;
    font-size: 18px;
    color: rgb(4, 105, 105);
    text-decoration: underline;

}

.info-cv{
    font-size: 16px;
    font-family: Arial;

    color: rgb(0, 0, 0);
}

.logo-container {
    font-size: 18px;
    margin-left: 0px;
    display: flex;
    text-align: left;
    color:rgb(8, 133, 133);
}

.imgs {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
}


.cv{
    vertical-align: top;
    margin-top: 2px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.edu{
    width: 150px;
}
footer{
    width: 100%;
}