header{
  
    color: #000;
  
 
  font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  
}
body {
background-color: rgb(243, 255, 255);
color: rgb(8, 8, 8);}
  .container {
    max-width: 1000px;
    margin: 30px auto;
  }
   p{
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .video-title{
      font-weight: bold;
      font-size: 18px;
      width: 400px;
      line-height: 23px;
      margin-bottom: 0px;

    }

    .video-stats{
      font-size: 14px;
      color: rgb(98, 98, 98);
      margin-top: 0px;
      margin-bottom: 12px;
    }

    .video-author{
      font-size: 14px;
      color:rgb(10, 8, 12), 15, 29;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .video-description{
      font-family: Arial;
      font-size: 14px;
      color:rgb(10, 8, 12), 15, 29;
      width: 230px;
      text-align: justify;
      line-height: 20px;
      margin-top: 0px;
    }
    .apple-stats{
      background-color: rgb(58, 49, 49);
      color: aliceblue;
      margin: top 25%;
      margin-bottom: 70px;
      line-height: 25px;
      font-size: 14px;
      width: 505px;
      border-radius: 3px;
      padding-top: 18px;
      padding-bottom: 18px;
      text-align: center;

      

    }
.span-stas:hover{
    color: rgb(46, 238, 7);
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}
.input-text{
  float: left;
  width: 420px;
  height: 35px;
  padding-right: 6px;
  color: #000;
  font-size: medium;
  font-weight: bold;
  margin-block-end: auto;
}
.searchnav{
  width: 600px;
  height: 90%;
  border: none;
  border-radius:0px;
  overflow: hidden;
  background-color: #e9e9e9;
  margin-right:25px;
}
  /* Style the links inside the navigation bar */
  /* .search-button{
    float: right;
    display: block;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    font-size: 17px;
  } */
  .search-button:hover{
    background-color: chocolate;
    color: antiquewhite;
    margin-right: 25px;
    object-position: center;
    border-style: solid;
    border-radius: 5;
  }
  
 .img{
  width: 300px;
  height: 200px;
  object-fit: contain;
  border-radius: 300px ;
 }