.search-bar{
  
  margin-left: 1px;
  display: inline-block;
  margin-bottom: 7px;
}
.img{
  width: 300px;
  }

  .vid-preview {
    width: 300px;
  }

  .u-texts{
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    margin-bottom: 5px;
  }
  .u-text{
    font-size: 16px;
    font-family: georgia;
    font-weight: medium;
    width: 300px;
    margin-bottom: 5px;
  }

